<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trading Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"
></script><link rel="manifest" href="/static/manifest.json">
<script>
  if ('serviceWorker' in navigator) {
    navigator.serviceWorker.register('/static/service-worker.js');
  }
</script><link rel="manifest" href="/static/manifest.json">
<meta name="theme-color" content="#1e1e1e">
<script>
  if ('serviceWorker' in navigator) {
    navigator.serviceWorker.register('/static/service-worker.js')
      .then(() => console.log("Service Worker registrato"))
      .catch(err => console.error("Errore SW:", err));
  }
</script>

</head>
<body>
    <h1>Trading Dashboard</h1>
    <select id="tickerSelect"></select>
    <div id="chart"></div>

    <!-- Libreria Plotly -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <!-- Script principale -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
